/* CSS Reset  */
*{
    margin:0px;
    padding: 0px;

}
body{
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 12fr 1fr;
    height: 100vh;
}

/* for navbar */
#navbar{
    display: flex;
    position: absolute;
    width: 100%;
    margin: auto;

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    height: 100%;
    width: 100%;
}

#navbar img{
    width: 71px;
    height: 43px;
    padding:10px;
    padding-left: 15px;
    padding-top: 18px;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    margin:29px 47px;

}
#navbar ul li a{
    color: white;
    text-decoration: none;
    
}

/*  for middle section */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.container::before{
    content: "";
    background:url(../img/bg.jpg);
    position: absolute;
    width: 100%;
    height: 110%;
    z-index: -1;
    opacity: 0.6;
}
.container img {
    width: 600px;
    height: 250px;
    border-radius: 30px;
}
/* for search bar */

.searchbar{
    display: flex;
    margin: 10px;
    border:2px solid black;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 5px;
}
.searchbar:hover{
    border-color: black(221, 220, 220);
    background-color: white;
    box-shadow: 30%;
    
}
.searchbar input[type="text"]
{
    width: 507px;
    height: 50px;
    border-radius:30px;
    padding: 10px;
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    cursor: default;
}
.searchbar{
    background-color: aliceblue;
}
::placeholder{
    color: black;
    font-weight: bold;
}
button{
    height: 50px;
    width:50px;
    margin-left: 3px;
    border-radius: 20%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    

}

/* to remove the blue box */
input:focus, textarea {
    outline: none !important;
}


.searchbar button img{
    height: 30px;
    width:30px;
    box-sizing: border-box;
}

/* for languages */
.language{
    margin-top: 30px;
    display: flex;
}
a{
     text-decoration: none;
     color: blue(75, 73, 73);
     margin: 0px 30px;
}

/* for footer */
footer{
    background-color: transparent;
    text-align: center;
    padding: 20px 10px;
    height: 20px;

}

@media screen and (max-width:400px) {
    #navbar ul{
        overflow: hidden;
    }
   
}
